<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>多人博客 - 首页</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <div class="bk_header">
        <div class="bk_logo pull-left">
            <img class="logo" src="public/img/logo.png" alt="">
            <img class="search" src="public/img/search.png" alt="">
            <input type="search" placeholder="请输入">
        </div>
        <div class="bk_nav pull-right">
            <ul class="nav nav-pills">
                <li><a href="/">首页</a></li>
                {{if user}}
                <li class="dropdown active">
                    <a href="/new" class="dropdown-toggle" data-toggle="dropdown">关于<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" id="myTabDrop1-contents">
                        <li>
                            <a href="javascript:;">当前登录用户：{{user.nickname}}</a>
                        </li>
                        <li><a href="/">个人主页</a></li>
                        <li class="active"><a href="/profile">设置</a></li>
                        <li><a href="/quit">退出</a></li>
                    </ul>
                </li>
                <li><a href="/new">发起</a></li>
                {{else}}
                <li><a href="/login">登录</a></li>
                <li><a href="/register">注册</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
    <section class="container mg_top">
        <div class="col-md-3 list-group">
            <a href="#" class="list-group-item disabled">用户设置</a>
            <a href="/profile" class="list-group-item active">基本信息</a>
            <form action=""><a href="/admin" class="list-group-item">账户设置</a></form>
        </div>
        <div class="col-md-5">
            <form action="/profile" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">账号</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{user.email}}" name="email" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">昵称</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{user.nickname}}" name="nickname">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">介绍</label>
                    <textarea class="form-control" rows="3" name="bio">{{user.bio}}</textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">性别</label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="inlineRadio1" value="0" {{user.gender==0? "checked": ""}}> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="inlineRadio2" value="1" {{user.gender==1? "checked": ""}}> 女
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="inlineRadio3" value="-1" {{user.gender==-1? "checked": ""}}> 保密
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">生日</label>
                    <input type="date" class="form-control" id="exampleInputPassword1" value="{{user.birthday}}" name="birthday">
                </div>
                <div class="form-group">
                    <label for="">头像</label>
                    <input type="file" class="form-control" id="" value="{{user.avater}}" name="avater">
                    <img class="avatar" width="150" height="150" src="{{user.avater}}" alt="">
                </div>
                <button type="submit" class="btn btn-success">保存</button>
            </form>
        </div>
        <!-- <div class="col-md-2 profile-avatar">
            <dl>
                <dt>头像设置</dt>
                <dd>
                    <img class="avatar" width="150" height="150" src="../public/img/avatar-default.png" alt="">
                    <div>
                        <button class="btn btn-default" href="">Upload new picture</button>
                    </div>
                </dd>
            </dl>
        </div> -->
    </section>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script>
    $(function() {
        $('[type="submit"]').on('click', function(e) {
            e.preventDefault()
            var formData = $('form').serialize()
            $.ajax({
                url: '/profile',
                type: 'post',
                dataType: 'json',
                data: formData,
                success: function(data) {
                    if (data.err_code == 500) {
                        window.alert('data.message')
                    } else if (data.err_code == 1) {
                        window.alert('修改成功')
                        window.location.href = '/'
                    }
                }
            })
        })
        $('.bk_nav').on('click', 'li', function() {
            $(this).addClass('active').siblings().removeClass('active')
        })
    })
    </script>
</body>

</html>
