body {
    background: #E1E1E1;
}

.media-list {
    margin-top: 20px;
}

.bk_header {
    height: 50px;
    background: #444444;
    padding: 5px;
}

.bk_header .bk_logo {
    height: 40px;
}

.bk_header .bk_logo .logo {
    width: 120px;
    height: 40px;
}

.bk_header .bk_logo .search {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 24px;
    left: 130px;
    z-index: 10;
}

.bk_header .bk_logo input {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    background: #ccc;
    padding-left: 23px;
    position: absolute;
    left: 123px;
    top: 15px;
}

.bk_header .bk_logo input::before {
    content: "";
}

.bk_nav {}

.mg_top {
    margin-top: 20px;
}

.pd_top {
    padding-top: 20px;
}

.media-body .content {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.first {
    background: #fff;
    margin-top: 15px;
    border-radius: 3px;
}
